<div class="row">
  <div class="large-2 large-offset-10 columns">
    <a data-dropdown="lng-selector" aria-controls="lng-selector" aria-expanded="false" data-options="align: top">{{ t('language.selector') }}</a>
    <ul id="lng-selector" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
      <li><a href="#" on-click="selectLanguage('de')">{{ t('language.options.de') }}</a></li>
      <li><a href="#" on-click="selectLanguage('en')">{{ t('language.options.en') }}</a></li>
    </ul>
  </div>
</div>
