{
  "backups_directory": "{{ backups_directory }}",
  "database_user": "{{ database_user }}",
  "upload_directory": "{{ uploads_directory }}",
  "psql": "{{ psql_prompt }}",

  "unarchive_directory": "{{ home_directory }}/restore",

  "database_user": "{{ database_user }}",
  "database": "{{ database }}"
}